<div class="row justify-content-md-center">
  <div class="wrapper tab-item col-6 col-lg-6">
    <!-- progress-bar -->


    <!-- modal button-->
    <!-- <div *ngIf="imagesService.selectedGroom==false">
      <button type="button" class="btn1 upload-btn-wrapper1" data-toggle="modal" data-target="#exampleModalCenter">
        add groom's image
      </button>
    </div> -->

    <nav class="container" id="con" style="height: 30vh;width: 10vw;">
      <!-- plus -->
      <a class="buttons" ><i class="material-icons" style="
          font-size: 4vw;
    margin-left: 2px;
    margin-top: 5px;
    color: maroon;">add</i></a>
      <a class="buttons" tooltip="Upload Files">
        <!-- <div class="upload-btn-wrapper" style="float: right" *ngIf="imagesService.selectedGroom==true" id="up"> -->
        <i id="file-icon" for="upload" title="upload the event's photos" class="material-icons" style="
         font-size: 2.5vw;
    color: maroon;
    margin-left: 12px;
    margin-top: 11.5px">backup</i>
        <input type='file' accept="image/*" id="upload" name='myfile' (change)="handleFileInput($event.target.files)"
          multiple>
        <!-- </div> -->
      </a>
      <a class="buttons" tooltip="Groom's image" data-toggle="modal" data-target="#exampleModalCenter">
        <!-- change groom's image -->
        <i class="fa fa-user" style="
        font-size: 2vw;
    color: maroon;
    margin-left: 13px;
    margin-top: 11px;
"></i>
      </a>
      <!-- icons ,aterial
<i class="material-icons">
backup
</i>
 -->
      <!-- <a class="buttons" tooltip="Change groom">
        <button type="button" class="btn1 upload-btn-wrapper1" data-toggle="modal" data-target="#exampleModalCenter">
          change groom
        </button>
      </a> -->


      <a class="buttons" tooltip="google"></a>


    </nav>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Adding Groom's image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-groom></app-groom>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn1 btn-primary" (click)="SelectGroom()" data-dismiss="modal">I
              finished</button>
          </div>
        </div>
      </div>
    </div>
    <!-- upload  files -->
    <!-- <div class="upload-btn-wrapper" style="float: right" *ngIf="imagesService.selectedGroom==true" id="up">
      <i class="fa fa-cloud-upload" id="file-icon" for="upload" title="upload the event's photos"></i>
      <input type='file' accept="image/*" id="upload" name='myfile' (change)="handleFileInput($event.target.files)" multiple>
    </div> -->
    <!-- הורדת ZIP -->
    <!-- <i (click)="downloadZip()" class="material-icons" id="downloadZip" data-toggle="tooltip" data-placement="top"
      title="download all the images">
      arrow_downward
    </i> -->


  </div>

</div>

<!-- הצגת הקבצים -->
<div class="row">
  <div *ngFor="let url of imagesService.urls" id="images">
    <!-- <div style="color: red" class="column-4 column-sm-6 column-xs-12 column-md-6 box-tab"> -->
    <!-- <div class="effect effect-eight"> -->
    <div class="hover01 column">
      <div>
        <a data-fancybox="gallery" [href]="url">
          <figure><img [src]="url" width="100%" height="auto" class="geeks" /></figure>
        </a>
        <span>Hover</span>
        <div id="icons"  class="deletedown">
          <a [href]="url" download="url.jpg"> <i class="material-icons icon" title="download the image">
              get_app
            </i></a>

          <i class="material-icons icon" (click)="imagesService.DeleteImg(url)">
            delete
          </i>
        </div>
      </div>
    </div>
  </div>
</div>
<div></div>
<div *ngIf="isShow">
  <i class="fa fa-chevron-circle-up" (click)="gotoTop()" id="scroll"></i>
</div>
<!-- fab -->

<!-- <button *ngIf="isShow" (click)="gotoTop()" id="scroll"><i class="fa fa-angle-up"></i></button> -->
<!-- <button *ngIf="isShow" (click)="gotoTop()" id="scroll">👆</button> -->
<!-- button -->
<!-- <div class="custom-file-upload">
<label for="file-upload" class="custom-file-upload1">
    <i  id="file-icon" class="fa fa-cloud-upload"  for="upload" title="upload the event's photos"></i>Upload Files
</label>
<input id="file-upload" type="file"id="upload" name='myfile'(change)="handleFileInput($event.target.files)"multiple/>
</div>  -->



<!-- <div class="upload-btn-wrapper"  >
    <i class="material-icons" id="file-icon" for="upload" title="upload the event's photos">attach_file</i>
    <input type='file'id="upload" name='myfile' (change)="handleFileInput($event.target.files)" >
  </div> -->
<app-recycle-bin id="bin"></app-recycle-bin>

