@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500);
body {
	/* color: maroon; */
	font-family: Roboto;
	font-weight: 300;
}
h1,
h1+p {
	margin: 30px 15px 0;
	font-weight: 300;
	color: maroon;
}
h1+p a {
	color: #333;
}
h1+p a:hover {
	text-decoration: none;
}
h2 {
	margin: 60px 15px 0;
	padding: 0;
	font-weight: 300;
	color: maroon;
}
h2 span {
	margin-left: 1em;
	color: #aaa;
	font-size: 85%;
}
.column {
	/* margin: 15px 15px 0;*/
	/* margin-bottom: 30px;  */
	padding: 4px;
	display: inline-block;
}
/* .column:last-child {
	padding-bottom: 60px;
} */
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	/* width: 20vw;
	height:15vw; */
	margin: 0 0 0 25px;
	padding: 2px;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	/* left: 0; */
	z-index: -1;
	display: block;
	width:20vw;
	margin: 0;
	padding: 2px;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	width: 15vw;
	height: 10vw;
	margin: 0;
	/* padding: 0; */
	background: #fff;
	/* padding: 4; */

	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
	cursor: pointer;

}



/* Zoom In #1 */
.hover01 figure img {
	/* -webkit-transform: scale(1);
	transform: scale(1); */
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	cursor: pointer;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.2);
	cursor: pointer;
}

#images{
	display: inline-block;
}



 input[type=file] {
	font-size: 40px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	/* width: 10vw; */
	/* display: none; */

  }
#file-icon{
	/* border: 2px solid gray; */
	color: maroon;
	/* background-color: white; */
	/* padding: 8px 20px;
	border-radius: 8px; */
	/* font-size: 20px; */
	font-weight: bold;
	font-size: 50px;
	/* display: block; */
	cursor: pointer;
}
.icon{
	cursor: pointer;
	color: maroon;
	font-size: 1.5rem;
	/* color: white; */
	position: relative;
	border-radius: 50%;
	padding: 5px;
	margin: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
	cursor: pointer;

  }
  
  .btn {
	/* border: 2px solid gray; */
	color: gray;
	background-color: white;
	padding: 8px 20px;
	/* border-radius: 8px; */
	font-size: 20px;
	font-weight: bold;	width: 50px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 50%;
  }
  
  .upload-btn-wrapper input[type=file] {
	font-size: 50px;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
	/* color: aqua;
	z-index: 100;

	opacity: 0; */
  }
  #downloadZip{
	/* color: gray;
	background-color: white;
	padding: 8px 20px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	overflow: hidden;
	display: inline-block;
	cursor: pointer;
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;

	 */
	 font-size: 3rem;
	 left: 45vw;
  }
  .upload-btn-wrapper1 {
	position: relative;
	overflow: hidden;
	display: inline-block;
  }
  
  .btn1 {
	border: 2px solid gray;
	color: gray;
	background-color: white;
	padding: 8px 20px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
  }
  
  .upload-btn-wrapper1 input[type=file] {
	/* font-size: 100px; */
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
  }
/* scroll */
#scroll{
	position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 3vw;
    text-align: center;
    border-radius: 15px;
	outline: none;
	color: gray;
}
/* button */
.custom-file-upload input[type="file"] {
    display: none;
}
.custom-file-upload .custom-file-upload1 {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
	cursor: pointer;

}
.spanText{
	color: maroon;
}
#up{
	position: fixed;
    z-index: 100;
    margin-left: 45vw;
    /* margin-top: 59vh; */
}



/* fab */


body {
  /* background: #00BCD4; */
  /* min-height: 100vh; */
  overflow: hidden;
  font-family: Roboto;
  color: #fff;
}

h1 {
  font: 200 60px Roboto;
  text-align: center;
}

p.credits {
  text-align: center;
  margin-top: 100px;
}

.credits img {
  border-radius: 50%;
  width: 100px;
  /* width: 100px; */
}

.container {
  bottom: 0;
  position: fixed;
  margin: 1em;
  right:3vw;
  top:10vh;
}

.buttons {
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 
              0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: block;
  width: 56px;
  height: 56px;
  margin: 20px auto 0;
  margin-right: 0;
  position: relative;
  -webkit-transition: all .1s ease-out;
		  transition: all .1s ease-out;  
		  /* background-color: maroon; */
}

.buttons:active, 
.buttons:focus, 
.buttons:hover {
  box-shadow: 0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);
}

.buttons:not(:first-child) {
  width: 40px;
  height: 40px;
  margin: 20px auto 0;
  margin-right: 0;

  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}

.container:hover 
.buttons:not(:last-child) {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  margin: 15px auto 0;
  margin-right: 0;

}

/* Unessential styling for sliding up buttons at differnt speeds */

.buttons:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
          transition-delay: 25ms;
  /* background-image: url('https://cbwconline.com/IMG/Share.svg'); */
  background-size: contain;
}

.buttons:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 50ms;
          transition-delay: 20ms;
  /* background-image: url('https://cbwconline.com/IMG/Facebook-Flat.png'); */
  background-size: contain;
}

.buttons:not(:last-child):nth-last-child(3) {
  -webkit-transition-delay: 75ms;
          transition-delay: 40ms;
  /* background-image: url('https://cbwconline.com/IMG/Twitter-Flat.png'); */
  background-size: contain;
}

.buttons:not(:last-child):nth-last-child(4) {
  -webkit-transition-delay: 100ms;
          transition-delay: 60ms;
  /* background-image: url('https://cbwconline.com/IMG/Google%20Plus.svg'); */
  background-size: contain;
}

/* Show tooltip content on hover */

[tooltip]:before {
  bottom: 25%;
  font-family: arial;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(tooltip);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  padding: 5px 7px;
  margin-right: 12px;
  position: absolute;
  left:   70%;
  white-space: nowrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
con{
	max-width: 10;
}
/* .fa-plus{
	font-size: 3vw;
    margin-left: 10px;
    margin-top: 8px;
    color: gray;
} */
.buttons[_ngcontent-c5]:not(:first-child) {
    width: 54px;
    height: 54px;
    margin: 20px auto 0;
    margin-right: 0;
    opacity: 0;
	transform: translateY(50px);
}
