<div class="row justify-content-md-center">
<!-- <section class="wrapper-full tab-container effectTab-header" id="style_8"> -->
  <div class="wrapper tab-item col-6 col-lg-6" >
    <div class="wrapper " align="center">
      <h1 class="ti title">EVENT PHOTOS</h1>
    
    
    <i (click)="downZip()" class="material-icons">
      arrow_downward
    </i>
    <!-- העלאת קבצים-->
    <!-- <div class="upload-btn-wrapper" align="center" *ngIf="selected==false" > -->
      <!-- <div class="main-wrapper"> --><div class="upload-btn-wrapper">
      <i class="material-icons" id="file-icon" for="upload" title="upload the event's photos">attach_file</i>
      <input type='file'id="upload" name='myfile' (change)="handleFileInput($event.target.files)" multiple >
    </div>
  </div>
    </div>
<!-- </section> -->
  <!-- הצגת הקבצים -->
<div class="row">
  <div *ngFor="let url of urls" id="images">
    <!-- <div style="color: red" class="column-4 column-sm-6 column-xs-12 column-md-6 box-tab"> -->
    <!-- <div class="effect effect-eight"> -->
    <div class="hover01 column">
      <div>
        <figure><img [src]="url.urlImage" width="100%" height="auto" class="geeks" /></figure>
        <span>Hover</span>
        <div id="icons" style="float: inherit" class="gfg">
          <a [href]="url.urlImage" [download]="url.nameImage"> <i class="material-icons" title="download the image">
              get_app
            </i></a>
          <i class="material-icons">
            delete
          </i>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

