#background-image{
    /* background-color: aqua; */
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/1771.jpg");
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* border-bottom: 1px solid #fff; */
    /* box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.8); */

}
#goToImage{  
    /* position: absolute; */
    top: 50%;
    left: 50%;
    margin-top: 15vh;
    margin-left: 40vw;
    cursor: pointer;
}
  
.button{
    padding:0;
    margin:0;
    width:200px;
    height:60px;
    float: left;
    background-color:#404040;
    overflow: hidden;
    cursor:pointer;
    z-index:20;
    border-radius:5px;
/* position: fixed; */
    
  }
  #getStart{
      direction: ltr;
      text-align: center;
      color: white;
      font-size: 1.5em;
      margin-top: 0.4em;
      margin-bottom: 0.4em;
      margin-left: 1.1em;
  }
  h4{color:peru;}





  .history-block {
    height: 100%;
    width: 35vw;
    background-color: #cdcdcd;
    margin: 0 -2px;
    border-right: 1px solid #fff;
    display: inline-block;
    /* font-family: 'roboto condensed', sans-serif; */
    font-size: 60px;
    font-weight: 100;
    /* text-align: right; */
    color: #FFF;
    cursor: pointer;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.8);
    transition: width 0.2s;
    opacity: 0.5;
    background-color: black;
  }

  body {
    font-family: 'Source Sans Pro', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.75;
  }

  #timeline {
    display: flex;
    background-color: #031625;
  }

  #timeline:hover .tl-item {
    width: 23.3333%;
  }

  .tl-item {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 100vh;
    min-height: 600px;
    /* width: 100%; */
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
  }

  .tl-item:before,
  .tl-item:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .tl-item:after {
    background: rgba(3, 22, 37, 0.85);
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  .tl-item:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
    z-index: 1;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) translateY(50%);
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
  }

  .tl-item:hover {
    width: 30% !important;
  }

  .tl-item:hover:after {
    opacity: 0;
  }

  .tl-item:hover:before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) translateY(0);
    transform: translate3d(0, 0, 0) translateY(0);
    transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
    transition: opacity 1s ease, transform 1s ease 0.25s;
    transition: opacity 1s ease, transform 1s ease 0.25s, -webkit-transform 1s ease 0.25s;
  }

  .tl-item:hover .tl-content {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.75s ease 0.5s;
  }

  .tl-item:hover .tl-bg {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .tl-content {
    -webkit-transform: translate3d(0, 0, 0) translateY(25px);
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;
  }

  .tl-content h1 {
    font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #ffcc00;
    font-size: 1.44rem;
    font-weight: normal;
  }

  .tl-year {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .tl-year p {
    font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.728rem;
    /* line-height: 0; */
  }

  .tl-bg {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: -webkit-filter 0.5s ease;
    transition: filter 0.5s ease;
    transition: filter 0.5s ease, -webkit-filter 0.5s ease;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

 .context{
    width: 100vw;
    height:70vh;
    /* background-color: #cdcdcd; */
    margin: 0 -2px;
    border-right: 1px solid #fff;
    display: inline-block;
    /* font-family: 'roboto condensed', sans-serif; */
    /* font-size: 60px; */
    font-weight: 100;
    text-align: center;
    color: maroon;
    /* cursor: pointer; */
    /* box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.8); */
    /* transition: width 0.2s; */
    /* opacity: 0.5; */
    /* background-color: black; */
  }