<div style="width: 100%;height:20vh;background-color: #0e1719;"></div>
<div id="background-image">
  <div class="history-block">
    <div id="container">

      <div class="box center">
        <!-- <div class="button center" (click)="goToImage()" id="goToImage"> -->
        <!-- <p id="getStart">get start >></p> -->
        <!-- </div> -->
        <div style="margin-left: 15vw;margin-top:10vh;">
          Take a peek
          <p style="font-size: 30px"> sort pictures in a minute</p>
          <p style="font-size: 20px">by artificial intelligence</p>
        </div>

      </div>
    </div>
  </div>
</div>


<section class="context" > 
  <p>בבקשה כאן להוסיף את כל ההדרכה לאתר. פרוט שאפשר להעלות תמונות, להוריד ,לרוקן, חתן ארוע וכו וכו וכ וכו</p> 
  <p>הסבר שאומנם העלת התמונות לוקחת קצת זמן, אבל עם שכנוע שאח"כ ממין ברגע<br><br><br><br><br>קובץ exe להורדה !!!!<br><br><br><br></p>
   <div style="background-color: black"></div> <h1 style="margin:5%">Why <img src="../../assets/logo-black.png" style="width: 10vw;height: auto;">?</h1>
</section>


<section id="timeline" style="width: 100vw  ;background-image: url(../../assets/1771.jpg)">

  <div class="tl-item">

    <div class="tl-bg" style="background-image: url(https://img.freepik.com/free-photo/abstract-background-with-blue-clouds_23-2148292453.jpg?size=626&ext=jpg)"></div>

    <div class="tl-year">
      <p class="">Cloud</p>
    </div>

    <div class="tl-content">
      <h1>Just because everything is in the cloud</h1>
      <p>No need to download software, the friendly editorial interface is on the site</p>
      <!-- <h1>Lorem ipsum dolor sit</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
       -->
    </div>

  </div>

  <div class="tl-item">

    <div class="tl-bg" style="background-image: url(https://image.freepik.com/free-photo/eco-concept-light-bulb-grow-grass_1232-2774.jpg)"></div>

    <div class="tl-year">
      <p class="f2 heading--sanSerif">Smart filters</p>
    </div>

    <div class="tl-content">
      <h1 class="f3 text--accent ttu">Just because there is smart filtering</h1>
      <p>Quick professional filtering of images on the page. You can change it with one click and immediately watch the
        result on the screen</p>

    </div>

  </div>


  <div class="tl-item">
    
      <!-- <div class="tl-bg" style="background-image: url(  https://img.freepik.com/free-photo/businessman-checking-time_1357-97.jpg?size=626&ext=jpg)"></div> -->
      <div class="tl-bg" style="background-image: url(https://image.freepik.com/free-photo/bell-twelve-alert-alarm-hour_1150-1682.jpg)"></div>

    <div class="tl-year">
      <p class="f2 heading--sanSerif">Quick sort</p>
    </div>

    <div class="tl-content">
      <h1 class="f3 text--accent ttu">Just because we help you sort</h1>
      <p>Selection of screening templates prepared by experienced programmers and professional photographers</p>

    </div>

  </div>

  <div class="tl-item">

    <div class="tl-bg" style="background-image: url(https://image.freepik.com/free-photo/plant-growing-from-coins_23-2147931177.jpg)"></div>

    <div class="tl-year">
      <p class="f2 heading--sanSerif">Free</p>
    </div>

    <div class="tl-content">
      <h1 class="f3 text--accent ttu">Mauris vitae nunc elem</h1>
      <p>Suspendisse ac mi at dolor sodales faucibus. Nunc sagittis ornare purus non euismod. Donec vestibulum efficitur
        tortor, eget efficitur enim facilisis consequat. Vivamus laoreet laoreet elit. Ut ut varius metus, bibendum
        imperdiet ex. Curabitur diam quam, blandit at risus nec, pulvinar porttitor lorem. Pellentesque dolor elit.</p>
    </div>

  </div>
</section>

<section class="context">
    <!-- <div class="history-block"> -->
        <div id="container">
    
          <div class="box center">
            <div class="button center" (click)="goToImage()" id="goToImage">
            <p id="getStart">get started >></p>
            </div>
      
    
          <!-- </div> -->
        </div>
      </div>
</section>
<footer style="width: 100vw;height:21vh;background-color:#0e1719"></footer>
<style>
 
</style>