<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-2.1.0.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<div class="container">
  <div id="sideBar">
  <div class="row">
    <div class="col-xs-12">
      <!-- סינון לפי -->
      <div class="btn-group btn-group-vertical" data-toggle="buttons">
          <label class="btn active"><b><span> filter images where : </span> </b> </label>
        <label class="btn active">
          <input type="checkbox" name='email1' checked><span> Blurred </span><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
        </label>
        <label class="btn active">
          <input type="checkbox" name='email1' checked><span> Dark  </span><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
        </label>
        <label class="btn active">
          <input type="checkbox" name='email1' checked><span>Closed eyes </span><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
        </label>
        <label class="btn active">
          <input type="checkbox" name='email1' checked><span> Cut face </span><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
        </label>
       </div>
<!-- פילטור לפי -->
       <div class="btn-group btn-group-vertical" data-toggle="buttons">
          <label class="btn active"><b><span> Mapping images where : </span></b> </label>
        <label class="btn active">
          <input type="checkbox" name='email1' checked><span> Inside </span><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
        </label>
        <label class="btn active">
          <input type="checkbox" name='email1' checked><span> Dark  </span><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
        </label>
        <label class="btn active">
          <input type="checkbox" name='email1' checked><span>Event groom </span><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
        </label>
        <label class="btn active">
          <input type="checkbox" name='email1' checked><span> Children </span><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
        </label>
        <label class="btn active">
            <input type="checkbox" name='email1' checked><span> Young </span><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
          </label><label class="btn active">
          <input type="checkbox" name='email1' checked><span> Audults </span><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
        </label>
       </div>
</div>
</div>
</div>