<!-- <div class="row justify-content-center" style="align-content: center">
  <div class="spinner icon-spinner-2" aria-hidden="true"></div>
</div> -->
<div class="row justify-content-center">
  <div style="width: 200px">
    <div style="background-image:url('https://storage.googleapis.com/assetstakeapeek/logo-load-full.png');   
  background-size: cover;
  padding-left: 76px;
padding-top: 46px;
  background-repeat: no-repeat;">
      <!-- <img src="../../../assets/logo-load-full.png"> -->
      <div class="row justify-content-center" style="align-content: center">
        <div class="spinner icon-spinner-2" aria-hidden="true" style="color: white"></div>
      </div>
    </div>
  </div>
</div>