<header style="box-sizing:unset;">


  <a href="#" id="logo" style="padding-left: 5vw;padding-bottom:0%">

    <div *ngIf="imageService.isHome==false">
      <img src="https://storage.googleapis.com/assetstakeapeek/logo-take.png" class="logoRegular"
        style="width: 7vw;height: auto;cursor: pointer;">
    </div>
    <div *ngIf="imageService.isHome==true">
      <div *ngIf="isScroll==true">
        <img src="https://storage.googleapis.com/assetstakeapeek/logo-take.png" class="logoRegular" style="width: 7vw;height: auto;cursor: pointer;">
      </div>
      <div *ngIf="isScroll==false">
        <img src="https://storage.googleapis.com/assetstakeapeek/logo-take.png" class="logoBig"
          style="width: 12vw;height: auto;cursor: pointer;">
      </div>
      
    </div>
  </a>
  
  <nav style="box-sizing:unset;">
    <ul>

    
      <li><a [routerLink]="['']" style="text-decoration:none"><i class="icon-home"></i>Home</a></li>
      <li><a href="#about" style="text-decoration:none"><i class="icon-user"></i>About</a></li>
     
      <li><a [routerLink]="['/gallery']" style="text-decoration:none"><i class="icon-picture"></i>Gallery</a></li>
 
      <li *ngIf="imageService.isHome==false" > <a>
        <i class="fa fa-trash" (click)="showCycle()"></i>
      </a></li>
     
  

      <li><a href="https://github.com/MalkaGreenwald/Event-Client" target="_blank" style="text-decoration:none"><i class="fab fa-github"
            id="person"></i></a>
          </li>
     
    </ul>
  </nav>

</header>