<header style="box-sizing:unset;">


  <a href="#" id="logo" style="padding-left: 5vw;padding-bottom:0%">

    <div *ngIf="imageService.isHome==false">
      <img src="https://storage.googleapis.com/assetstakeapeek/logo-take.png" class="logoRegular" style="width: 7vw;height: auto;cursor: pointer;">
    </div>
    <div *ngIf="imageService.isHome==true">
      <div *ngIf="isScroll==true">
        <img src=".https://storage.googleapis.com/assetstakeapeek/logo-take.png" class="logoRegular" style="width: 7vw;height: auto;cursor: pointer;">
      </div>
      <div *ngIf="isScroll==false">
        <img src="https://storage.googleapis.com/assetstakeapeek/logo-take.png" class="logoBig" style="width: 12vw;height: auto;cursor: pointer;">
      </div>
    </div>
  </a>
  <!-- <a href="#"  id="logo" style="padding-left: 5vw;padding-bottom:0%"> 
         <img src="../../../assets/logo-take.png" class="logoRegular" style="width: 7vw;height: auto;cursor: pointer;"
       >   </a> -->
  <!-- [ngClass]="{'logoRegular':isScroll==true,'logoBig':isScroll==false}" >   </a> -->
  <!-- <a href="#"   style="padding-left: 5vw;padding-bottom:0%">  <img src="../../../assets/logo-take.png" [ngClass]="{'logoRegular':isScroll==true,'logoBig':isScroll==false}" style="width: 7vw;height: auto;cursor: pointer;">   </a> -->
  <!-- <label for="toggle-1" class="toggle-menu"><ul> <li></li> <li></li></ul></label> -->
  <!-- <input type="checkbox" id="toggle-1"> -->
  <nav style="box-sizing:unset;">
    <ul>

      <!-- <a href="../../../assets/logo.png" id="logo" target="_blank" style="text-decoration:none"><div id="logo-take" >hhui</div> 
        </a>-->
      <!-- <a href="#" id="logo"  > -->
      <!-- <img src="../../../assets/logo-take.png" style="width: 10vw;height: auto;"> </a> -->
      <li><a [routerLink]="['']" style="text-decoration:none"><i class="icon-home"></i>Home</a></li>
      <li><a href="#about" style="text-decoration:none"><i class="icon-user"></i>About</a></li>
      <!-- <li><a href="#portfolio"style="text-decoration:none"><i class="icon-thumbs-up-alt"></i>Portfolio</a></li> -->
      <!-- <li><a href="#services" style="text-decoration:none"><i class="icon-gear"></i>Services</a></li> -->
      <li><a [routerLink]="['/gallery']" style="text-decoration:none"><i class="icon-picture"></i>Gallery</a></li>
      <!-- <li><a href="#contact" style="text-decoration:none"><i class="icon-phone"></i><i class="material-icons"
            id="person">person</i></a></li> -->
      <li>
        

      <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recycleModalCenter">
    <i class="matirial-icon">delete</i>
  </button>
   -->
  <!-- Modal -->

        <a>
          <button class="btn btn-default" mwlConfirmationPopover 
            [popoverMessage]="popoverMessage" placement="left" (confirm)="Reset()"
            (cancel)="cancelClicked = true" confirmButtonType="danger" [appendToBody]="true" 
            [placement]="placement">
            Reset
          </button>
          <!-- <input type="button" class="btn btn-primary" value="Reset" (click)="Reset()" style="display: inline-block"> -->
        </a>
      </li>
    </ul>
  </nav>

</header>