@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

 /* Bootstrap Lightbox using Modal */

#profile-grid { overflow: auto; white-space: normal; } 
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}
.title1{
    color: gray;
    font-size:30px;
}

/* .carousel-control-prev-icon {
    background-image: url("https://fscomps.fotosearch.com/compc/CSP/CSP338/%D7%90%D7%99%D7%A7%D7%95%D7%9F-%D7%A9%D7%9C-%D7%97%D7%A5-%D7%90%D7%99%D7%A7%D7%95%D7%9F-%D7%A9%D7%9C-%D7%97%D7%A5-%D7%A4%D7%99%D7%9B%D7%98%D7%95%D7%92%D7%A8%D7%90%D7%9D-%D7%A7%D7%9C%D7%99%D7%A4-%D7%90%D7%A8%D7%98__k53168627.jpg");
}
.carousel-control-next-icon {
    background-image: url("https://comps.canstockphoto.co.il/%D7%9C%D7%91%D7%9F-%D7%97%D7%A5-%D7%A8%D7%A7%D7%A2-%D7%90%D7%99%D7%A7%D7%95%D7%9F-%D7%95%D7%A7%D7%98%D7%95%D7%A8-%D7%A7%D7%9C%D7%99%D7%A4-%D7%90%D7%A8%D7%98_csp53096769.jpg");
} */
.carousel-control-prev{
left: 0;
    background-color: gray;
    padding-right: 19px;
    width: 0px;
    /* background-image: url("https://www.pisrael.com/wp-content/uploads/2016/02/Arrow.png"); */
}
.carousel-control-next{
    right: 0;
        background-color: gray;
        padding-left: 19px;
        width: 0px;
        /* background-image: url("https://comps.canstockphoto.co.il/%D7%9C%D7%91%D7%9F-%D7%97%D7%A5-%D7%A8%D7%A7%D7%A2-%D7%90%D7%99%D7%A7%D7%95%D7%9F-%D7%95%D7%A7%D7%98%D7%95%D7%A8-%D7%A7%D7%9C%D7%99%D7%A4-%D7%90%D7%A8%D7%98_csp53096769.jpg"); */
    }
    .not-checked{
        color: white;
        font-size: 50px;
    
    }
    .checked{
        color: maroon;
        font-size: 80px;
    }