<div class="row justify-content-center">
  <!-- <div class="col-1"> -->
    <!-- <h3>Please wait...</h3> -->
    <div style="width: 200px">
      <div style="background-image:url('../../../assets/logo-load-full.png');   
      background-size: cover;
      padding-left: 76px;
    padding-top: 46px;
      background-repeat: no-repeat;">
        <!-- <img src="../../../assets/logo-load-full.png"> -->
        <circle-progress [percent]=[per]></circle-progress>
      </div>
    </div>
  <!-- </div> -->
</div>