

<!-- <div class="row">
        <div class="col align-self-start" id="side-bar">
        <app-side-bar></app-side-bar>
        </div>
   
        <div class="col align-self-end"  >
          <app-images></app-images>>
        </div>
      </div> -->
      <!-- <i class="fas fa-camera"></i>
    
    <i class="fas fa-user-circle"></i>

-->
<!-- <mat-toolbar color="accent">  
  <span>Manav Pandya - C#Corner</span>  
  <span class="demo-toolbar"></span>  
</mat-toolbar>  
  
<mat-card>  
  <div class="container">  
    <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false"  
    style="height: 400px; overflow-y: scroll;">  
      <div *ngFor="let item of myPhotosList" class="col-md-4" style="margin-top: 10px;">  
        <img style="height: 220px;width: 315px;" src="{{item.url}}" />  
      </div>  
    </div>  
  </div>  
</mat-card>   -->
<!-- <app-progress-bar></app-progress-bar> -->
<div class="row">
   
<app-header id="header" style="z-index: 100;"></app-header>
</div>
<div style="width: 100%;height:25vh;background-color: #0e1719;"></div>
<div class="row justify-content-between">
  <img src="../assets/1771.jpg" width="100%" >
<div class="col-3">
        <app-side-bar id="side-bar"></app-side-bar>
    </div>
    <!--  -->
    
    <!--  -->
    <div class="col-9">
        <app-gallery></app-gallery>

        <app-images style="z-index: 1"></app-images>
        <app-recycle-bin></app-recycle-bin>
    </div>
</div>

