#side-bar{
    position: fixed;
}
#header{
    /* width: 100%; */
position: fixed;}
.row{
    padding-right: 0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500);



body{
    
}